.page-cont {
    padding: 10px 120px;
    transition: 0.3s;
}

@media (max-width: 1000px) {
    .page-cont {
        padding: 10px 80px;
    }
}

@media (max-width: 500px) {
    .page-cont {
        padding: 10px 40px;
    }
}
